.reset_password_wrapper {
    width: 100vw;

    .reset_password_from_wrapper {
        max-width: 480px;
        width: 100%;
        box-shadow: 0px 12px 12px rgba(50, 50, 71, 0.08), 0px 16px 24px rgba(50, 50, 71, 0.08);
        border-radius: 8px;
        border: 1px solid #e6e6e6;

        .submit_btn {
            height: 56px;
            margin-top: 56px;
        }
    }

}