@import "../../../styles/_colors";

.card_main {
    max-width: 100%;
    letter-spacing: 0.01em;
}

.button {
    letter-spacing: -0.24px;
    width: 100%;
    max-width: 157px;
}

.image {
    margin: auto;
}
