@import "../../styles/colors";
@import "../../styles/themes";

.number_modal {
    max-width: 491px;
}


.wrapper {
    border-radius: 10px;
    padding: 28px;

    @include respond('mobile') {
        padding: 14px 6px;
    }

    .contact_img {
        max-width: 145px;
        max-height: 139px;
        margin: 0 auto;
        margin-top: 16px;
        margin-bottom: 12px;
    }

    .number_heading {
        margin-bottom: 16px;
    }

    .phone_icon {
        width: 24px;
        height: 24px;
        margin-left: 8px;
    }
}