@import "../../styles/_themes";

.card_main {
    display: flex;
    align-items: center;
    justify-content: center;

    @include respond("mobile") {
        padding: 32px 32px;
    }
}

.header_wrapper {
    padding-top: 40px;

    @include respond("tab") {
        top: 61px;
        padding-top: 12px;
    }
}

.upper_style {
    padding-left: 4.1rem;
    padding-top: 3.6rem;
}

.main_noleads {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}