$white: #ffffff;

$black: #000000;
$coolBlack: #373435;

$primaryColor: #3975ea;
$secondaryColor: #40a662;

$labelPrimary: #828282;
$headingPrimary: #0b132a;
$headingSecondary: #0b132a;
$body: #333;
$title: #333;

$blue100: #ebf1fd;
$green100: #d2fbf0;
$grey100: #afaeae;
$blue500: #007eae;
$grey500: #4f4f4f;
$green50: #d9eddf;

$background: #fafafd;
$coolPrimaryColorBackground: #007eae;
$darkBackground: rgba(0, 0, 0, 0.7);

$boxShadow: rgba(50, 50, 71, 0.04);
$borderColor: #e0e0e0;
